@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
#googleMap {
  height: 65%;
  width: 80%;
  margin: 0 auto 0 auto;
}
.header-top {
  background: #000;
  padding: 15px 0;
}

.search {
  position: relative;
  float: left;
  width: 25%;
  background-color: #fff;
  margin-top: 11px;
}

.search input[type="text"] {
  outline: none;
  padding: 3px 15px;
  background: none;
  width: 91%;
  border: none;
  font-size: 1.2em;
  color: #000;
  font-weight: 700;
}

.search input[type="submit"] {
  border: none;
  cursor: pointer;
  position: absolute;
  outline: none;
  top: 0px;
  right: 0px;
  background: #c7c7c7;
  font-size: 1.2em;
  color: #000;
  padding: 3px;
  font-weight: 700;
}

.search input[type="submit"]:hover {
  background: #EF5F21;
  color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.header-left {
  float: right;
  margin-top: 4px;
}

.header-left ul {
  float: left;
}

.header-left ul li {
  display: inline-block;
}

.header-left ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  margin: 0 2em 0 0;
}

.header-left ul li a:hover {
  color: #EF5F21;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 70px;
}
#form {
  display: block;
  margin-bottom: 185px;
  margin-top: 185px;
  overflow: hidden;
}

.login-form h2,
.signup-form h2 {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.login-form form input {
  background: #F0F0E9;
  border: medium none;
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.login-form form span {
  line-height: 25px;
}

.login-form form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}

.login-form form button {
  margin-top: 23px;
}

.login-form form button,
.signup-form form button {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 6px 25px;
}

.login-form label input {
  border: medium none;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}

.or {
  background: #FE980F;
  border-radius: 40px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  margin-top: 75px;
  text-align: center;
  width: 50px;
}

#validate {
  color: #ff0000;
}
#form {
  display: block;
  margin-bottom: 185px;
  margin-top: 185px;
  overflow: hidden;
}

.register-form h2,
.signup-form h2 {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.register-form form input {
  background: #F0F0E9;
  border: medium none;
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.register-form form span {
  line-height: 25px;
}

.register-form form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}

.register-form form button {
  margin-top: 23px;
}

.register-form form button,
.signup-form form button {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 6px 25px;
}

.register-form label input {
  border: medium none;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}

.or {
  background: #FE980F;
  border-radius: 40px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  margin-top: 75px;
  text-align: center;
  width: 50px;
}

.datefield {
  display: inline;
  padding: 0.3em;
  border: inset 1px #CCC;
  background: #FFF;
  border-radius: 4px;
  color: #666;
}

.submitButton {
  display: block;
  width: 115px;
  height: 35px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.close1,.close2,.close3{
  background: url('../images/close_1.png') no-repeat 0px 0px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.cart-header {  
  position: relative;  
}
.cart-header2 {  
  position: relative;  
}
.cart-header3 {  
  position: relative;  
}

.cart-items,.cart-total {
  padding: 0;
}

.total-item,.cart-items{
  margin-top:0em;
  padding-bottom:2em;
}

.check h1 {
  font-size: 1.5em;
  margin-bottom:2em;
    font-family: 'Lato', sans-serif;
}

.check{
  padding:4em 0;
}

.cart-sec{  
  margin-bottom:3em;
}

.cart-item{
  width:20%;
  float:left;
  margin-right:5%;
  
}
.cart-item img{
  width:100%;
}

.cart-item-info h3{
  font-size:1em;
  font-weight:600;
}
.cart-item-info h3 a{
  color:#000;
}
.cart-item-info h3 span{
  display:block;
  font-weight:400;
  font-size: 0.85em;
  margin: 0.7em 0;
}

ul.qty{
  padding:0;
  margin:0;
  list-style:none;
}
ul.qty li{
   display: inline-block;
   margin-right: 10%;
}
ul.qty li p{
  font-size:0.8125em;
  color:#555;
}

.delivery {
  margin-top: 3em;
}
.delivery p {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: left;
}
.delivery span {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: right;
}

a.continue{
  background:#FE980F;
  padding:10px 20px;
    font-family: 'Lato', sans-serif;
  font-size:1em;
  color:#fff;
  text-decoration:none;
  display: block;
   font-weight: 600;  
   text-align: center;
   margin-bottom:2em;
}
a.continue:hover{
  background:#000;
}

.price-details{
  border-bottom: 1px solid #DDD9D9;
  padding-bottom: 10px;
}
.price-details h3{
  color:#000;
  font-size:1.2em;
  margin-bottom:1em;
}
.price-details span{
  width: 50%;
  float: left;
 
  font-size: 0.8125em;
  color: #000;
  line-height: 1.8em;
}

ul.total_price{
  padding: 0;
  margin: 1em 0 0 0;
  list-style: none;
}
ul.total_price li.last_price{
  width: 50%;
  float: left;
  
}
ul.total_price li.last_price span{
  font-size: 1.8em;
  color: #000;
}

a.order {
  background:#FE980F;
  padding: 10px 20px;
   font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: 600;
  text-align: center;
  margin:3em 0;
}
a.order:hover{
  background:#000;
}

.total-item,.cart-items{
  margin-top:0em;
  padding-bottom:2em;
}

.total-item h3 {
  color: #333;
  font-size: 1.1em;
  margin-bottom: 1em;
}
.total-item h4{
  font-size:0.8em;
  font-weight:600;
  color:#9C9C9C;
  display:inline-block;
  margin-right:6em;
}

.total-item p{
  font-size:0.9em;
  font-weight:400;
  margin-top:1em; 
}
.total-item p a{
  color:#727272;  
}
.total-item p a:hover{
  color:#000;
  text-decoration:underline;
}

a.cpns{
  background:#FE980F;
  color:#fff;
   font-family: 'Lato', sans-serif;
  padding: 10px;
  font-size: 0.8em;
  font-weight:600;
}
a.cpns:hover{
  background: #000;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.container-fluid:after {
  clear: both;
}

.col-md-3, .col-md-9{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-9 {
    width: 75%;
  }
  
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}