#dropdownProfile{
    cursor: hand;
    cursor: pointer;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.search-bar {
    color: white;
}

.search-bar-icon {
    border-style: solid;
    border-color: #999;
    background-color: #222;
    color: #999;
}

.search-bar-textfield {
    background-color: #222;
    border-color: #999;
    color: white:
}

.input-group-btn {
    width: inherit;
}

.navbar-form {
    margin-top: 10px;
}
