<div ng-controller="bookProfileCtrl">
    <div class="container">
        <div class = "row">
            <div class="col-sm-6">
                <h1>Book Profile</h1>
            </div>
        </div>
        <div class = "row">
            <div class="col-sm-6 col-sm-offset-4">
                <image src="../images/emily.jpeg"></image>
            </div>
        </div>
        <div class = "row">
            <div class="col-sm-8 col-sm-offset-4">
                <ul class="unstyled">
                    <h3>Book Informations</h3>
                    <li class="text-info">Title: {{bookInfo.title}}</li>
                    <li class="text-info">ISBN: {{bookInfo.isbn}}</li>
                    <li class="text-info">author: {{bookInfo.author}}</li>
                    <li class="text-info">language: {{bookInfo.language}}</li>
                    <li class="text-info">pages: {{bookInfo.pages}}</li>
                    <li class="text-info">publisher: {{bookInfo.publisher}}</li>
                </ul>
            </div>
        </div>
        <div class = "row">
            <div class="col-sm-6 col-sm-offset-4">
                <h4> Gender </h4>
                <input type="radio" name="rentOrBuy" id="rent" value="rent" checked>Rent
                <input type="radio" name="rentOrBuy" id="buy" value="buy">Buy
                <br>
                <button type="submit" class="btn btn-default" ng-click="addToCart()">Add To Cart</button>
            </div>
        </div>
    </div>
</div>
