<div ng-controller="bookProfileCtrl">
    <div class="container">
        <div class = "row">
            <div class="col-sm-6">
                <h1 style="text-transform: uppercase;">{{bookInfo.title}}</h1>
            </div>
        </div>
        <hr>
        <!-- Information of the book -->
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <image id = "book-cover" src="../images/emily.jpeg"></image>
            </div>
            <div class="col-sm-6">
                <h3>Book Informations</h3>
                <div class="row">
                    <div class="col-sm-5 text-info">
                        <div class = "row">Title:</div>
                        <div class = "row">ISBN 10:</div>
                        <div class = "row">ISBN 13:</div>
                        <div class = "row">Author:</div>
                        <div ng-repeat = "author in bookInfo.authors">
                            <div class = "row" ng-show="bookInfo.authors.indexOf(author) != 0">&nbsp;</div>
                        </div>
                        <div class="row">Language:</div>
                        <div class="row">Pages:</div>
                        <div class="row">Publisher:</div>
                        <div class="row">Published Date:</div>
                        <div class="row">Book Description:</div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row">{{bookInfo.title}}</div>
                        <div class="row" ng-show="bookInfo.title === null">undefined</div>
                        <div class="row">{{bookInfo.ISBN10}}</div>
                        <div class="row" ng-show="bookInfo.ISBN10 === null">undefined</div>
                        <div class="row">{{bookInfo.ISBN13}}</div>
                        <div class="row" ng-show="bookInfo.ISBN13 === null">undefined</div>
                        <div ng-repeat="author in bookInfo.authors">
                            <div class="row">{{author}}</div>
                        </div>
                        <div class="row" ng-show="bookInfo.author === null">undefined</div>
                        <div class="row">{{bookInfo.language}}</div>
                        <div class="row" ng-show="bookInfo.language === null">undefined</div>
                        <div class="row">{{bookInfo.pages}}</div>
                        <div class="row" ng-show="bookInfo.pages === null">undefined</div>
                        <div class="row">{{bookInfo.publisher}}</div>
                        <div class="row" ng-show="bookInfo.publisher === null">undefined</div>
                        <div class="row">{{bookInfo.publish_date}}</div>
                        <div class="row" ng-show="bookInfo.publish_date === null">undefined</div>
                        <div class="row">{{bookInfo.description}}</div>
                        <div class="row" ng-show="bookInfo.description === null">undefined</div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- Selecting to use the default address or new address the Member wants to receive the book -->
        <div class = "row">
            <div class="col-sm-3">
                <h3>Shipping Address</h3>
                <div class = "row">
                    <input type="radio" name="address" id="defaultAddress" value="defaultAddress" checked><span style ="margin-left: 10px;margin-right: 10px">Default Address</span><br><br>
                    <input type="radio" name="address" id="newAddress" value="newAddress"><span style ="margin-left: 10px; margin-right: 10px">New Address</span>
                </div>
            </div>
            <div class="col-sm-9">
                <div id="googleMap" style="width:400px;height:300px;"></div>
            </div>
        </div>
        <br><br>
        <!-- Lists of shops in the nearby location that have the book to sell or for rent -->
        <uib-tabset justified="true">
            <!-- Buy New Books tab heading and its items -->
            <uib-tab heading="Buy New Books" ng-click="moveToBottom()">
                <br>
                <div ng-repeat="book in bookInfo.stocks" ng-show="book.condition === 'new'">
                    <div class = "row">
                        <div class="col-sm-1">${{book.price}}</div>
                        <div class="col-sm-2">{{book.condition}}</div>
                        <div class="col-sm-5">{{book.address}}</div>
                        <div class="col-sm-2">In stock: {{book.quantity}}</div>
                        <div class="col-sm-2" ng-if="book.quantity >= 1"><button class="btn btn-inverse" ng-click="addToCart(book)">Add To Cart</button></div>
                        <div ng-if="book.quantity == 0"></div>
                    </div>
                    <hr>
                </div>
                <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
            </uib-tab>
            <!-- Buy Used Books tab heading and its items -->
            <uib-tab heading="Buy Used Books" ng-click="moveToBottom()">
                <br>
                <div ng-repeat="book in bookInfo.stocks" ng-show="book.condition === 'used'">
                    <div class = "row">
                        <div class="col-sm-1">${{book.price}}</div>
                        <div class="col-sm-2">{{book.condition}}</div>
                        <div class="col-sm-5">{{book.address}}</div>
                        <div class="col-sm-2">In stock: {{book.quantity}}</div>
                        <div class="col-sm-2" ng-if="book.quantity >= 1"><button ng-click="addToCart(book)">Add To Cart</button></div>
                        <div ng-if="book.quantity == 0"></div>
                    </div>
                    <hr>
                </div>
                <br>
                <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
            </uib-tab>
            <!-- Rent Books tab heading and its items -->
            <uib-tab heading="Rent Books" ng-click="moveToBottom()">
                <br>
                <div ng-repeat="book in bookInfo.stocks" ng-show="book.condition === 'new'">
                    <div class = "row">
                        <div class="col-sm-1">${{book.price}}</div>
                        <div class="col-sm-2">{{book.condition}}</div>
                        <div class="col-sm-5">{{book.address}}</div>
                        <div class="col-sm-2">In stock: {{book.quantity}}</div>
                        <div class="col-sm-2" ng-if="book.quantity >= 1"><button ng-click="addToCart(book)">Add To Cart</button></div>
                        <div ng-if="book.quantity == 0"></div>
                    </div>
                    <hr>
                </div>
                <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
            </uib-tab>
        </uib-tabset>
        <!-- A random tag used to locate a place for moveToBottom() to scroll to -->
        <div id="bottom"></div>
    </div>
</div>
