<div ng-controller="bookProfileCtrl">
    <div class="container">
        <div class = "row">
            <div class="col-sm-12">
                <h1 style="text-transform: uppercase;">{{bookInfo.title}}</h1>
            </div>
        </div>
        <hr>
        <!-- Information of the book -->
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1">
                <image id = "book-cover" src="{{bookInfo.cover_image_url}}"></image>
            </div>
            <div class="col-sm-8">
                <h3>Book Informations</h3>


                <div class="row">
                    <div class="col-sm-4 text-info">Title:</div>
                    <div class="col-sm-8">
                        <div class="row">{{bookInfo.title}}</div>
                        <div class="row" ng-show="bookInfo.title === null">undefined</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-info">ISBN 10:</div>
                    <div class="col-sm-8">
                        <div class="row">{{bookInfo.ISBN10}}</div>
                        <div class="row" ng-show="bookInfo.ISBN10 === null">undefined</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-info">ISBN 13:</div>
                    <div class="col-sm-8">
                        <div class="row">{{bookInfo.ISBN13}}</div>
                        <div class="row" ng-show="bookInfo.ISBN13 === null">undefined</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-info">Author:</div>
                    <div ng-repeat="author in bookInfo.authors">
                            <div class="row" ng-show="bookInfo.authors.indexOf(author) != 0">&nbsp;</div>
                    </div>
                    <div class="col-sm-8">
                        <div ng-repeat="author in bookInfo.authors">
                            <div class="row">{{author}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-info">Language:</div>
                    <div class="col-sm-8">
                        <div class="row">{{bookInfo.language}}</div>
                        <div class="row" ng-show="bookInfo.language === null">undefined</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-info">Pages:</div>
                    <div class="col-sm-8">
                        <div class="row">{{bookInfo.pages}}</div>
                        <div class="row" ng-show="bookInfo.pages === null">undefined</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-info">Publisher:</div>
                    <div class="col-sm-8">
                        <div class="row">{{bookInfo.publisher}}</div>
                        <div class="row" ng-show="bookInfo.publisher === null">undefined</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-info">Published Date:</div>
                    <div class="col-sm-8">
                        <div class="row">{{bookInfo.publish_date}}</div>
                        <div class="row" ng-show="bookInfo.publish_date === null">undefined</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-info">Book Description:</div>
                </div>
                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                        <div class="row">{{bookInfo.description}}</div>
                        <div class="row" ng-show="bookInfo.description === null">undefined</div>
                    </div>
                    <!-- <ul class="unstyled">
                        <li class="text-info">Title: {{bookInfo.title}}</li>
                        <li class="text-info">ISBN 10: {{bookInfo.ISBN10}}</li>
                        <li class="text-info">ISBN 13: {{bookInfo.ISBN13}}</li>
                        <li class="text-info">Author:  </li>
                        <div ng-repeat="author in bookInfo.authors">
                            <span class="text-info">{{author}}</span>
                        </div>
                        <li class="text-info">Language: {{bookInfo.language}}</li>
                        <li class="text-info">Pages: {{bookInfo.pages}}</li>
                        <li class="text-info">Publisher: {{bookInfo.publisher}}</li>
                        <li class="text-info">Published Date: {{bookInfo.publish_date}}</li>
                        <li class="text-success">Book Description: {{bookInfo.description}}</li>
                    </ul> -->
                </div>
            </div>
        </div>
        <hr>
        <div ng-if="loggedIn">
            <!-- Selecting to use the default address or new address the Member wants to receive the book -->
            <div class = "row">
                <div class="col-sm-3">
                    <div class = "row">
                        <h3>Shipping Address</h3>
                    </div>
                    <div class = "row">
                        <input type="radio" name="address" id="defaultAddress" value="defaultAddress" checked><span style ="margin-left: 10px;margin-right: 10px">Default Address</span><br><br>
                        <input type="radio" name="address" id="newAddress" value="newAddress"><span style ="margin-left: 10px; margin-right: 10px">New Address</span>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div id="googleMap" style="width:400px;height:300px;"></div>
                </div>
            </div>
            <br><br>
            <!-- Lists of shops in the nearby location that have the book to sell or for rent -->
            <uib-tabset justified="true">
                <!-- Buy New Books tab heading and its items -->
                <uib-tab heading="Buy New Books" ng-click="moveToBottom()">
                    <br>
                    <div ng-repeat="line_stock in buyNewBook" ng-show="buyNewBook.indexOf(line_stock) < buyNewBookCurrentPage * 5 && buyNewBook.indexOf(line_stock) >= (buyNewBookCurrentPage - 1) * 5">
                        <div class = "row">
                            <!-- Check which index is the current object of the array -->
                            <!-- {{bookInfo.line_stocks.indexOf(line_stock)}} -->
                            <div class="col-sm-1">${{line_stock.stocks[0].price}}</div>
                            <div class="col-sm-1">{{line_stock.stocks[0].condition}}</div>
                            <div class="col-sm-2">{{line_stock.stocks[0].description}}</div>
                            <div class="col-sm-4">{{line_stock.stocks[0].member.addresses[0].information}}</div>
                            <div class="col-sm-2">In stock: {{line_stock.quantity}}</div>
                            <div class="col-sm-2" ng-if="line_stock.quantity >= 1"><button class="btn btn-warning" ng-click="addToCart(line_stock)">Add To Cart</button></div>
                            <div ng-if="line_stock.quantity == 0"></div>
                        </div>
                        <hr>
                    </div>
                    <uib-pagination total-items="buyNewBookTotalItems" ng-model="buyNewBookCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-click="moveToBottom()"></uib-pagination>
                </uib-tab>
                <!-- Buy Used Books tab heading and its items -->
                <uib-tab heading="Buy Used Books" ng-click="moveToBottom()">
                    <br>
                    <div ng-repeat="line_stock in buyUsedBook" ng-show="buyUsedBook.indexOf(line_stock) < buyUsedBookCurrentPage * 5 && buyUsedBook.indexOf(line_stock) >= (buyUsedBookCurrentPage - 1) * 5">
                        <div class = "row">
                            <div class="col-sm-1">${{line_stock.stocks[0].price}}</div>
                            <div class="col-sm-1">{{line_stock.stocks[0].condition}}</div>
                            <div class="col-sm-2">{{line_stock.stocks[0].description}}</div>
                            <div class="col-sm-4">{{line_stock.stocks[0].member.addresses[0].information}}</div>
                            <div class="col-sm-2">In stock: {{line_stock.quantity}}</div>
                            <div class="col-sm-2" ng-if="line_stock.quantity >= 1"><button class="btn btn-warning" ng-click="addToCart(line_stock)">Add To Cart</button></div>
                            <div ng-if="line_stock.quantity == 0"></div>
                        </div>
                        <hr>
                    </div>
                    <br>
                    <uib-pagination total-items="buyUsedBookTotalItems" ng-model="buyUsedBookCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-click="moveToBottom()"></uib-pagination>
                </uib-tab>
                <!-- Rent Books tab heading and its items -->
                <uib-tab heading="Rent Books" ng-click="moveToBottom()">
                    <br>
                    <div ng-repeat="line_stock in rentBook" ng-show="rentBook.indexOf(line_stock) < rentBookCurrentPage * 5 && rentBook.indexOf(line_stock) >= (rentBookCurrentPage - 1) * 5">
                        <div class = "row">
                            <div class="col-sm-1">${{line_stock.stocks[0].price}}</div>
                            <div class="col-sm-1">{{line_stock.stocks[0].condition}}</div>
                            <div class="col-sm-2">{{line_stock.stocks[0].description}}</div>
                            <div class="col-sm-4">{{line_stock.stocks[0].member.addresses[0].information}}</div>
                            <div class="col-sm-2">In stock: {{line_stock.quantity}}</div>
                            <div class="col-sm-2" ng-if="line_stock.quantity >= 1"><button class="btn btn-warning" ng-click="addToCart(line_stock)">Add To Cart</button></div>
                            <div ng-if="line_stock.quantity == 0"></div>
                        </div>
                        <hr>
                    </div>
                    <uib-pagination total-items="rentBookTotalItems" ng-model="rentBookCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-click="moveToBottom()"></uib-pagination>
                </uib-tab>
            </uib-tabset>
        </div>
        <div ng-if="!loggedIn">
            <center><h2 id="loginRequiredText">Before buying or renting books, please login...</h2></center>
        </div>
        <!-- A random tag used to locate a place for moveToBottom() to scroll to -->
            <div id="bottom"></div>
    </div>
</div>
