<div class="container" ng-controller="cartCtrl">
	<div class="col-md-9 cart-items">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4><b>Buy</b></h4>
			</div>
			<div class="panel-body">
				<div class="row" ng-repeat="stock in stocks" ng-show="stock.type === 'sale'">
					<div class="col-md-4">
						<center>
							<img src="images/naruto.jpg" class="img-responsive" style="width:150px;height:225px;">
						</center>
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-4"><b>Name</b></div>
							<div class="col-md-8">{{stock.book.title}}</div>
						</div>

						<div class="row">
							<div class="col-md-4"><b>ISBN</b></div>
							<div class="col-md-8">{{stock.book.isbn}}</div>
						</div>

						<div class="row">
							<div class="col-md-4"><b>Author</b></div>
							<div class="col-md-8">
								<div ng-repeat="author in stock.book.authors">
									{{author}}
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4"><b>Language</b></div>
							<div class="col-md-8">{{stock.book.language}}</div>
						</div>

						<div class="row">
							<div class="col-md-4"><b>Pages</b></div>
							<div class="col-md-8">{{stock.book.pages}}</div>
						</div>

						<div class="row">
							<div class="col-md-4"><b>Publisher</b></div>
							<div class="col-md-8">{{stock.book.publisher}}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4"><b>Price</b></div>
							<div class="col-md-8"><b>{{stock.price}}</b></div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-12">
								<b>Seller Address</b>
							</div>
							<div class="col-md-12">
								eieieiieiei
							</div>
						</div>
						<br>
						<br>
						<div class="row">
							<div class="col-md-9"></div>
							<div class="col-md-3">
								<button class="btn btn-danger" ng-click="removeStock(stock.id)">
									Cancel
									<span class="glyphicon glyphicon-remove">
								</button>
							</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>

		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4><b>Rent</b></h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<center>
							<img src="images/hack.jpg" class="img-responsive" style="width:150px;height:225px;">
						</center>
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-4"><b>Name</b></div>
							<div class="col-md-8">H.A.C.K(#1)</div>
						</div>

						<div class="row">
							<div class="col-md-4"><b>ISBN</b></div>
							<div class="col-md-8">978-616-369-768-5</div>
						</div>

						<div class="row">
							<div class="col-md-4"><b>Author</b></div>
							<div class="col-md-8"></div>
						</div>

						<div class="row">
							<div class="col-md-4"><b>Publisher</b></div>
							<div class="col-md-8"></div>
						</div>

						<div class="row">
							<div class="col-md-4"><b>Price</b></div>
							<div class="col-md-8">
								<b>50 baht</b> for
								<b>30 Days</b>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-12">
								<b>Lender Address</b>
							</div>
							<div class="col-md-12">
								eieieiieiei
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<b>Term of Conditions</b>
							</div>
							<div class="col-md-12">
								Hallloooo
							</div>
						</div>
						<br>
						<br>
						<div class="row">
							<div class="col-md-9"></div>
							<div class="col-md-3">
								<button class="btn btn-danger">
									Cancel
									<span class="glyphicon glyphicon-remove">
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3 cart-total">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Price Details</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-7">Subtotal</div>
					<div class="col-md-4">100.00฿</div>
				</div>
				<div class="row">
					<div class="col-md-7">Discount</div>
					<div class="col-md-4">--</div>
				</div>
				<div class="row">
					<div class="col-md-7">Charge</div>
					<div class="col-md-4">0.00฿</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-7">Total</div>
					<div class="col-md-4">100.00฿</div>
				</div>
			</div>
		</div>
		<button class="btn btn-primary btn-block">
			Countinue Shopping
		</button>

		<button class="btn btn-success btn-block" style="margin-top: 10px;">
			Checkout
		</button>
	</div>

	<div class="clearfix"> </div>
</div>
