<div class="container">
	<div class="col-md-9 cart-items">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4>Buy</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<center>
							<img src="images/naruto.jpg" class="img-responsive" style="width:150px;height:225px;">
						</center>
					</div>
					<div class- "col-md-8">
						<h3><a>Naruto(#64)</a>
							<span>ISBN: 978-616-369-768-4</span>
						</h3>
						<ul class="qty">
							<li>
								<p>Qty : 1</p>
							</li>
						</ul>

						<div class="delivery">
							<p>Service Charges : Rs.5.00</p>
							<span>Delivered in 2-3 bussiness days</span>
							<div class="clearfix"></div>
						</div>
					</div>
					<hr>
				</div>

				<div class="row">
					<div class="col-md-4">
						<center>
							<img src="images/onepiece.jpg" class="img-responsive" style="width:150px;height:225px;">
						</center>
					</div>
					<div class- "col-md-8">
						<h3><a>Onepiece(#57)</a>
							<span>ISBN: 978-616-369-739-4</span>
						</h3>
						<ul class="qty">
							<li>
								<p>Qty : 1</p>
							</li>
						</ul>
						<div class="delivery">
							<p>Service Charges : Rs.5.00</p>
							<span>Delivered in 2-3 bussiness days</span>
							<div class="clearfix"></div>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>

		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4>Rent</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<center>
							<img src="images/hack.jpg" class="img-responsive" style="width:150px;height:225px;">
						</center>
					</div>
					<div class- "col-md-8">
						<h3><a>H.A.C.K(#1)</a>
							<span>ISBN: 978-616-369-768-5</span>
						</h3>
						<ul class="qty">
							<li>
								<p>Qty : 1</p>
							</li>
						</ul>

						<div class="delivery">
							<p>Service Charges : Rs.5.00</p>
							<span>Delivered in 2-3 bussiness days</span>
							<div class="clearfix"></div>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3 cart-total">
		<a class="continue" href="#">Continue to basket</a>
		<div class="price-details">
			<h3>Price Details</h3>
			<span>Total</span>
			<span class="total1">120.00</span>
			<span>Discount</span>
			<span class="total1">---</span>
			<span>Delivery Charges</span>
			<span class="total1">50.00</span>
			<div class="clearfix"></div>
		</div>
		<ul class="total_price">
			<li class="last_price">
				<h4>TOTAL</h4>
			</li>
			<li class="last_price">
				<span>170.00</span>
			</li>
			<div class="clearfix"> </div>
		</ul>


		<div class="clearfix"></div>
		<a class="order" href="#">Place Order</a>
		<div class="total-item">
			<h3>OPTIONS</h3>
			<h4>COUPONS</h4>
			<a class="cpns" href="#">Apply Coupons</a>
			<p><a href="#">Log In</a> to use accounts - linked coupons</p>
		</div>
	</div>

	<div class="clearfix"> </div>
</div>
