<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="../scripts/controllers/editProfileController.js"></script>
    <link rel="stylesheet" type="css" href="../styles/vendor/bootstrap-theme.min.css">
    <link rel="stylesheet" type="css" href="../styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="css" href="../styles/assets/googlemap.css">
    <script src="../scripts/vendor/googlemapAPI.js"></script>
</head>
<body>
    <div ng-app="app" ng-controller="editProfileCtrl">
        <h1>{{profileData.first_name}} {{profileData.last_name}} Edit Profile Page</h1>
        <table class="table table-striped">
            <tr>
                <td>User ID:</td>
                <td>{{profileData.id}}</td>
            </tr>
            <tr>
                <td>User E-Mail:</td>
                <td><input type="text" ng-model="profileData.email" id="email"></input><br></td>
            </tr>
            <tr>
                <td>User First Name:</td>
                <td><input type="text" ng-model="profileData.first_name" id="firstname"></input><br></td>
            </tr>
            <tr>
                <td>User Last Name:</td>
                <td><input type="text" ng-model="profileData.last_name" id="lastname"></input><br></td>
            </tr>
            <tr>
                <td>User Phone Number:</td>
                <td><input type="text" ng-model="profileData.phone_number" id="phonenumber"></input><br></td>
            </tr>
            <tr>
                <td>User Identification Number:</td>
                <td><input type="text" ng-model="profileData.identification_number" id="idennumber"></input><br></td>
            </tr>
            <tr>
                <td>User Gender:</td>
                <td><input type="text" ng-model="profileData.gender" id="gender"></input><br></td>
            </tr>
            <tr>
                <td>User Birth Date:</td>
                <td><input type="text" ng-model="profileData.birth_date" id="birthdate"></input><br></td>
            </tr>
        </table>
        Password: <input type="password" ng-model="profileData.password" id="password"></input><br>
        <button type="submit" class="btn btn-default" ng-click="login()" id="loginBtn">Login</button>
        <button type="submit" class="btn btn-default" ng-click="getProfile()" id="getProfileBtn">Get Profile</button>
        <button type="submit" class="btn btn-default" ng-click="editProfile()" id="editProfileBtn">Edit Profile</button>
        Email: {{profileData.email}}, FirstName: {{profileData.first_name}}, LastName: {{profileData.last_name}}, PhoneNumber: {{profileData.phone_number}}
    </div>
    <div id="googleMap" style="width:500px;height:380px;"></div>
    <div id="current"></div>
    <div id="address"></div>
</body>
</html>