<div class="container" ng-controller="editProfileCtrl">
    <h1>Edit Profile Page</h1>

    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <p>Email:</p>
        </div>
        <div class="col-sm-6">
            <p><input type="text" ng-model="profileData.email" id="email"></input></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <p>Firstname:</p>
        </div>
        <div class="col-sm-6">
            <p><input type="text" ng-model="profileData.first_name" id="firstname"></input></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <p>Lastname:</p>
        </div>
        <div class="col-sm-6">
            <p><input type="text" ng-model="profileData.last_name" id="lastname"></input></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <p>Phone Number:</p>
        </div>
        <div class="col-sm-6">
            <p><input type="text" ng-model="profileData.phone_number" id="phonenumber"></input></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <p>Identification Number:</p>
        </div>
        <div class="col-sm-6">
            <p><input type="text" ng-model="profileData.identification_number" id="idennumber"></input></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <p>Gender:</p>
        </div>
        <div class="col-sm-6">
            <p>
                <input type="radio" name="sex" value="Male" ng-model="profileData.gender">&nbsp;&nbsp;Male</input>
                &nbsp;&nbsp;
                <input type="radio" name="sex" value="Female" ng-model="profileData.gender">&nbsp;&nbsp;Female</input>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <p>Birth Date:</p>
        </div>
        <div class="col-sm-8">
            <p>
                <select id="date" ng-model="date">
                    <option value="">---Date---</option>
                    <option ng-repeat="d in initDates" value="{{d}}" ng-selected="date == d">{{d}}</option>
                </select>

                <select id="month" ng-model="month">
                    <option value="">---Month---</option>
                    <option ng-repeat="m in initMonths" value="{{m}}" ng-selected="month == m">{{m}}</option>
                </select>

                <select id="year" ng-model="year">
                    <option value="">---Year---</option>
                    <option ng-repeat="y in initYears" value="{{y}}" ng-selected="year == y">{{y}}</option>
                </select>
            </p>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <p>Confirmation Password:</p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <p>
                <input type="password" ng-model="profileData.password" id="birthdate"></input>
            </p>
        </div>
        <div class="col-sm-4">
                <p id="validate" ng-show="error">Password is not correct</p>
        </div>
    </div><br>

    <center>
        <button type="submit" class="btn btn-default" ng-click="editProfile()" id="editProfileBtn">Edit</button>
        <button type="submit" class="btn btn-default" ng-click="backToViewProfile()" id="backToViewProfileBtn">Back</button>
    </center>
</div>
