<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="../scripts/controllers/editProfileController.js"></script>
    <link rel="stylesheet" type="css" href="../styles/bootstrap-theme.min.css">
    <link rel="stylesheet" type="css" href="../styles/bootstrap.min.css">
</head>
<body>
    <div ng-app="app" ng-controller="editProfileCtrl">
        <h1>{{profileData.first_name}} {{profileData.last_name}} Edit Profile Page</h1>
        <table class="table table-striped">
            <tr>
                <td>User ID:</td>
                <td>{{profileData.id}}</td>
            </tr>
            <tr>
                <td>User E-Mail:</td>
                <td><input type="text" ng-model="profileData.email" ></input><br></td>
            </tr>
            <tr>
                <td>User First Name:</td>
                <td><input type="text" ng-model="profileData.first_name"></input><br></td>
            </tr>
            <tr>
                <td>User Last Name:</td>
                <td><input type="text" ng-model="profileData.last_name"></input><br></td>
            </tr>
            <tr>
                <td>User Phone Number:</td>
                <td><input type="text" ng-model="profileData.phone_number"></input><br></td>
            </tr>
            <tr>
                <td>User Identification Number:</td>
                <td><input type="text" ng-model="profileData.identification_number"></input><br></td>
            </tr>
            <tr>
                <td>User Gender:</td>
                <td><input type="text" ng-model="profileData.gender"></input><br></td>
            </tr>
            <tr>
                <td>User Birth Date:</td>
                <td><input type="text" ng-model="profileData.birth_date"></input><br></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-default" ng-click="login()">Login</button>
        <button type="submit" class="btn btn-default" ng-click="getProfile()">Get Profile</button>
        <button type="submit" class="btn btn-default" ng-click="editProfile()">Edit Profile</button>
        {{profileData.email}} + {{profileData.first_name}} + {{profileData.last_name}} + {{profileData.password}}
    </div>
</body>
</html>