<div ng-controller="bookCatalogCtrl" class="container">
	<div class="books-container container">
		<div ng-repeat="book in books | filter:searchText" ng-init="$last ? dotdotdot() : null" class="book col-lg-2 col-md-3 col-xs-4">
		    <div class="row book-label">
				<span class="col-xs-5 label label-success book-label-font" ng-show="book.lowest_price != 'null'">In-stock</span>
				<span class="col-xs-7 label label-info book-label-font" ng-show="book.lowest_price != 'null'">From <b>{{book.lowest_price}} ฿</b></span>
				<span class="col-xs-7 label label-danger book-label-font" ng-show="book.lowest_price == 'null'">Out of Stock</span>
			</div>
			<div class="row">
				<img src="{{book.cover_image_url}}" ui-sref="bookProfile({bookId : book.id})" class="cover-image">
			</div>
			<div class="row book-name">
				{{book.title}}
			</div>
			<div class="row book-lowest-price">
				<div ng-show="book.lowest_price == null"></div>
				<div ng-show="book.lowest_price != null"></div>
			</div>
		</div>
	</div>
</div>
