<div ng-controller="bookCatalogCtrl" class="container">
	<div class="container">
	<hr>
	<div class="sort">
		Sort by:
		<select ng-options="option for option in listOfSortOptions"
				ng-model="selectedSort"
				ng-change="sortOptionChanged()">
		</select>
	</div>
	<hr>
	</div>

	<div class="books-container">
		<div ng-repeat="book in books | filter:searchText" ng-init="$last ? dotdotdot() : null" class="book col-lg-2 col-md-3 col-xs-4">
		    <div class="row">
				<span class="label label-success">In-stock</span>
			</div>
			<div class="row">
				<img src="{{book.cover_image_url}}" ui-sref="bookProfile({bookId : book.id})" class="cover-image">
			</div>
			<div class="row book-name">
				{{book.title}}
			</div>
			<div class="row book-lowest-price">
				<div ng-show="book.lowest_price == null"></div>
				<div ng-show="book.lowest_price != null"></div>
			</div>
		</div>
	</div>
</div>
