<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Bookie</a>
        </div>
        <div class="container collapse navbar-collapse navbar-collapse-1" id="navbar-collapse-1">
            <div class="navbar-form navbar-left input-group input-group-sm search-bar" ng-show="$state.current.name=='home'">
                <div class="input-group-btn">
                    <button id="dropdown-search" class="btn dropdown-toggle search-bar-icon" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-search" aria-hidden="true" ng-show="searchType=='Any'"></span>&nbsp
                        <span ng-show="searchType=='Title'"><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span> Title</span>
                        <span ng-show="searchType=='Author'"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Author</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-search">
                        <li><a href="#" ng-click="searchType='Any'">Any</a></li>
                        <li><a href="#" ng-click="searchType='Title'">Title</a></li>
                        <li><a href="#" ng-click="searchType='Author'">Author</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control search-bar-textfield" aria-describedby="basic-addon1" ng-model="searchText" ng-show="searchType=='Any'" ng-focus="searchType=='Any'">
                <input type="text" class="form-control search-bar-textfield" aria-describedby="basic-addon1" ng-model="searchText.title" ng-show="searchType=='Title'" ng-focus="searchType=='Title'">
                <input type="text" class="form-control search-bar-textfield" aria-describedby="basic-addon1" ng-model="searchText.authors" ng-show="searchType=='Author'" ng-focus="searchType=='Title'">
            </div>
            <div class="navbar-left btn-group" ng-show="$state.current.name=='home'">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle sort-by-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="sortBy('naz')">Name ('A' to 'Z')</a></li>
                    <li><a href="#" ng-click="sortBy('nza')">Name ('Z' to 'A')</a></li>
                    <li><a href="#" ng-click="sortBy('plh')">Price (low to high)</a></li>
                    <li><a href="#" ng-click="sortBy('phl')">Price (high to low)</a></li>
                </ul>
            </div>

            <ul class="nav navbar-nav navbar-right" ng-show="member === undefined">
                <li>
                    <a ui-sref="login">Login</a>
                </li>
                <li>
                    <a ui-sref="register">Register</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="member !== undefined">
                <li>
                    <a class="dropdown-toggle" type="button" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{member.email}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownProfile">
                        <br>
                        <li><a ui-sref="viewProfile">My Profile</a></li>
                        <li><a ui-sref="order">My Orders</a></li>
                        <hr>
                        <li><a ui-sref="viewStock">My Stocks</a></li>
                        <li><a href="#">Request Order</a></li>
                        <hr>
                        <li><a data-toggle="modal" data-target="#logoutModal">Logout</a></li>
                    </ul>
                </li>
                <li>
                    <a id="item-cart" ui-sref="cart">
                        {{totalPrice | number:2}} ฿
                        <ng-pluralize count="totalCount"
                        when="{'0': '(0 item)',
                        '1': '(1 item)',
                        'other': '({} items)'}">
                    </ng-pluralize>
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>

</div>
</nav>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Logout</h4>
            </div>
            <div class="modal-body">Are you sure you want logout</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-warning" ng-click="logout()" ui-sref="home" data-dismiss="modal">Logout</button>
            </div>
        </div>
    </div>
</div>
