<div ng-controller="orderCtrl" class="container">
	<!-- Lists of shops in the nearby location that have the book to sell or for rent -->
    <uib-tabset justified="true">
        <!-- Buy New Books tab heading and its items -->
        <uib-tab heading="Pending" ng-click="moveToBottom()">
            <br>
            <div ng-repeat="content in pendingContents">
                <div class = "row">
                    <div class="col-sm-2 col-sm-offset-1">${{content.price}}</div>
                    <div class="col-sm-6">{{content.name}}</div>
                    <div class="col-sm-2">{{content.orderDate}}</div>
                    <div class="col-sm-1"><span class="label label-success">{{content.status}}</span></div>
                </div>
                <hr>
            </div>
        </uib-tab>

        <!-- Buy Used Books tab heading and its items -->
        <uib-tab heading="Active" ng-click="moveToBottom()">
            <br>
            <div ng-repeat="content in pendingContents">
                <div class = "row">
                    <div class="col-sm-2 col-sm-offset-1">${{content.price}}</div>
                    <div class="col-sm-6">{{content.name}}</div>
                    <div class="col-sm-2">{{content.orderDate}}</div>
                    <div class="col-sm-1"><span class="label label-success">{{content.status}}</span></div>
                </div>
                <hr>
            </div>
        </uib-tab>
        <!-- Rent Books tab heading and its items -->
        <uib-tab heading="Ended" ng-click="moveToBottom()">
            <br>
            <div ng-repeat="content in pendingContents">
                <div class = "row">
                    <div class="col-sm-2 col-sm-offset-1">${{content.price}}</div>
                    <div class="col-sm-6">{{content.name}}</div>
                    <div class="col-sm-2">{{content.orderDate}}</div>
                    <div class="col-sm-1"><span class="label label-success">{{content.status}}</span></div>
                </div>
                <hr>
            </div>
        </uib-tab>
    </uib-tabset>
</div>