<div ng-controller="orderCtrl" class="container">
	<!-- Lists of shops in the nearby location that have the book to sell or for rent -->
    <uib-tabset justified="true">
        <!-- Buy New Books tab heading and its items -->
        <uib-tab heading="Pending" ng-click="moveToBottom()">
            <br>
            <div ng-repeat="content in pendingContents">
                <div class = "row">
                    <uib-accordion close-others="oneAtATime">
                        <uib-accordion-group heading="{{content.name}}" is-open="status.isFirstOpen">
                            <div class="col-sm-2 col-sm-offset-1">${{content.price}}</div>
                            <div class="col-sm-5">{{content.name}}</div>
                            <div class="col-sm-2">{{content.orderDate}}</div>
                            <div class="col-sm-2"><span class="label label-success">{{content.status}}</span></div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
                <hr>
            </div>
        </uib-tab>

        <!-- Buy Used Books tab heading and its items -->
        <uib-tab heading="Active" ng-click="moveToBottom()">
            <br>
            <div ng-repeat="content in activeContents">
                <div class = "row">
                    <uib-accordion close-others="oneAtATime">
                        <uib-accordion-group heading="{{content.name}}" is-open="status.isFirstOpen">
                            <div class="col-sm-2 col-sm-offset-1">${{content.price}}</div>
                            <div class="col-sm-5">{{content.name}}</div>
                            <div class="col-sm-2">{{content.orderDate}}</div>
                            <div class="col-sm-2"><span class="label label-success">{{content.status}}</span></div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
                <hr>
            </div>
        </uib-tab>
        <!-- Rent Books tab heading and its items -->
        <uib-tab heading="Ended" ng-click="moveToBottom()">
            <br>
            <div ng-repeat="content in endedContents">
                <div class = "row">
                    <uib-accordion close-others="oneAtATime">
                        <uib-accordion-group heading="{{content.name}}" is-open="status.isFirstOpen">
                            <div class="col-sm-2 col-sm-offset-1">${{content.price}}</div>
                            <div class="col-sm-5">{{content.name}}</div>
                            <div class="col-sm-2">{{content.orderDate}}</div>
                            <div class="col-sm-2"><span class="label label-success">{{content.status}}</span></div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
                <hr>
            </div>
        </uib-tab>
    </uib-tabset>


    <script type="text/ng-template" id="group-template.html">
        <div class="panel {{panelClass || 'panel-default'}}">
            <div class="panel-heading">
                <h4 class="panel-title" style="color:#fa39c3">
                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                    <span ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
                </h4>
            </div>
            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                <div class="panel-body" style="text-align: right" ng-transclude></div>
            </div>
        </div>
    </script>




</div>