<div class="container" ng-controller="paymentCtrl">
	<div class = "row">
		<div class="col-sm-12">
			<h1 style="text-transform: uppercase; text-align: center;">Payment</h1>
		</div>
	</div>

	<hr>
	<div class="col-md-6 payment-items" style="height:720px;line-height:5em;overflow:scroll;padding:5px;">
		<div class="panel panel-warning">
			<div class="panel-body">
				<div ng-repeat="stock in stocks">
					<div class="row">
						<div class="col-md-4">
							<center>
								<img src="{{stock.book.cover_image_url}}" class="img-responsive" style="width:105px;height:158px;">
							</center>
						</div>
						<div class="col-md-8">
							<div class="row">
									<h4>
										<span class="label label-success" style="text-transform: uppercase; " ng-show="stock.type === 'sell'">{{stock.type}}</span>
									</h4>
									<h4>
										<span class="label label-primary" style="text-transform: uppercase; " ng-show="stock.type === 'lend'">{{stock.type}}</span>
									</h4>
							</div>

							<div class="row">
									<h3>{{stock.book.title}}</h3>
							</div>

							<div class="row">
									<h4 style="text-align: right; padding-right:3em;">{{stock.price  | number:2}} ฿</h4>
							</div>
						</div>
					</div>
					<hr>
				</div>
				<h1 style="text-align: right; padding-right:0.5em;">Total: {{total | number:2}} ฿</h1>
			</div>
		</div>
	</div>

	<div class="col-md-6 payment-card">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Credit Card</h4>
			</div>
			<div class="panel-body">
				<form>
					<div class="row">
						<div class="col-md-6">
		                    <input type="text" placeholder="Name" ng-model="billing_name"></input>
	                	</div>
	                	<div class="col-md-6">
		                    <input type="text" placeholder="Last name" ng-model="billing_name"></input>
	                	</div>
	                	<div class="col-md-6">
		                    <input type="text" placeholder="Number" ng-model="billing_card_number"></input>
	                    </div>
	                    <div class="col-md-6">
		                    <input type="text" placeholder="CVV" ng-model="billing_card_security_number"></input>
	               		</div>
	               		<div class="col-md-6">
	                    	<input type="text" placeholder="MM/YY" ng-model="billing_card_expire_date"></input>
	                    </div>
	                    <div class="col-md-6">
		                    <select name="Type" ng-model="billing_type">
		                    	<option ng-selected="true" selected disabled>Credit Cart Type</option>
		  						<option value="Visa">Visa</option>
		  						<option value="MasterCard">MasterCard</option>
		  						<option value="American Express">American Express</option>
		  						<option value="Discover">Discover</option>
							</select>
						</div>
					</div>
                </form>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				Term of Conditions
			</div>
		</div>

		<button id="paid" class="btn btn-block btn-warning" style="margin-top: 10px;">
			Paid
		</button>
	</div>
	</hr>

</div>
