<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="../scripts/vendor/angular.min.js"></script>
    <script src="../scripts/controllers/Register.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/register.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap-theme.min.css">
    <title>Register</title>

</head>
<body>
<div ng-app="register" ng-controller="page">
    <div class="container-fluid" style="width: 100%;">
        <span class = "glyphicon glyphicon-music"></span>
        <p>{{korn}}</p>
    </div>
</div>
</body>
</html>