<div ng-controller="requestedOrderCtrl" class="container">
    <h1>Requested Order</h1><br>

    <!-- My order tabs -->
    <uib-tabset justified="true">

        <!-- Order of pending status books -->
        <uib-tab heading="Pending" ng-click="moveToBottom()">
            <br>
            <div ng-repeat="order in orderInfo.orders">
                <div ng-repeat="stock in order.stocks">
                    <uib-accordion close-others="oneAtATime">
                        <div ng-show="stock.status === 'pending'">
                            <uib-accordion-group is-open="false">
                                <uib-accordion-heading>
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>&nbsp&nbsp{{stock.book.title}}
                                </uib-accordion-heading>
                                <div class="col-sm-1">${{stock.price}}</div>
                                <div class="col-sm-2">{{order.created_at}}</div>
                                <div class="col-sm-5">
                                    {{order.address.first_name}} {{order.address.last_name}}
                                    <span class="label label-info">Order ID: {{order.id}}</span> <span class="label label-primary">Stock ID: {{stock.id}}</span>
                                    <br><b>Info: </b>{{order.address.information}}
                                </div>
                                <div class="col-sm-2"><h4><span class="label label-success">{{stock.status}}</span></h4></div>
                                <div class="col-sm-1"><button class="btn btn-success" ng-click="acceptOrder(order, stock)">Accept</button></div>
                                <div class="col-sm-1"><button class="btn btn-danger">Decline</button></div>
                            </uib-accordion-group>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </uib-tab>

        <!-- Order of active status books -->
        <uib-tab heading="Active" ng-click="moveToBottom()">
            <br>
            <div ng-repeat="order in orderInfo.orders | orderBy: 'sortOrder': true">
                <div ng-repeat="stock in order.stocks">
                    <uib-accordion close-others="oneAtATime">
                        <div ng-hide="stock.status === 'pending' || stock.status === 'returned'">
                            <uib-accordion-group is-open="false">
                                <uib-accordion-heading>
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>&nbsp&nbsp{{stock.book.title}}
                                </uib-accordion-heading>
                                <div class="col-sm-1">${{stock.price}}</div>
                                <div class="col-sm-2">
                                    {{order.created_at.substring(0, 10)}}<br>
                                    {{order.created_at.substring(11, 19)}}
                                </div>
                                <div class="col-sm-5">
                                    {{order.address.first_name}} {{order.address.last_name}}
                                    <span class="label label-info">Order ID: {{order.id}}</span> <span class="label label-primary">Stock ID: {{stock.id}}</span>
                                    <br><b>Info: </b>{{order.address.information}}
                                </div>
                                <div class="col-sm-2"><h4><span class="label label-success">{{stock.status}}</span></h4></div>
                            </uib-accordion-group>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </uib-tab>

        <!-- Orders o -->
        <uib-tab heading="Ended" ng-click="moveToBottom()">
            <br>
            <div ng-repeat="order in orderInfo.orders">
                <div ng-repeat="stock in order.stocks">
                    <uib-accordion close-others="oneAtATime">
                        <div ng-show="stock.status === 'returned'">
                            <uib-accordion-group is-open="false">
                                <uib-accordion-heading>
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>&nbsp&nbsp{{stock.book.title}}
                                </uib-accordion-heading>
                                <div class="col-sm-1">${{stock.price}}</div>
                                <div class="col-sm-2">{{order.created_at}}</div>
                                <div class="col-sm-5">
                                    {{order.address.first_name}} {{order.address.last_name}}
                                    <span class="label label-info">Order ID: {{order.id}}</span> <span class="label label-primary">Stock ID: {{stock.id}}</span>
                                    <br><b>Info: </b>{{order.address.information}}
                                </div>
                                <div class="col-sm-2"><h4><span class="label label-success">{{stock.status}}</span></h4></div>
                            </uib-accordion-group>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

    <!-- Order of ended status books -->
    <script type="text/ng-template" id="group-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
    <div class="panel-heading">
    <h4 class="panel-title" style="color:#fa39c3">
    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
    <span ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
    </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
    <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
    </div>
    </script>
</div>
